.logo {
  height: 50px; /* Adjust as needed */
  margin-right: 10px;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
}

.toolbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user-name {
  font-size: 0.9rem;
  margin-right: 10px;
}

.main-content {
  padding: 20px;
}
