<div class="container">
  <mat-card class="search-card" appearance="outlined">
    @if (!member && !registerAccessResponse && !memberNotFoundMessage) {
      <form (ngSubmit)="search()" class="search-form">
        <mat-form-field appearance="outline">
          <input matInput mask="separator" thousandSeparator="." separatorLimit="90000000" type="tel"
                 [formControl]="dni" placeholder="Ingrese un número de DNI"/>
        </mat-form-field>

        <button mat-flat-button type="submit" [disabled]="dni.invalid">
          <mat-icon>search</mat-icon>
          Buscar
        </button>

        @if (parkingStatus$ | async; as parkingStatus) {
          <div class="actions-container">
            <p class="available-spots">Quedan {{ parkingStatus.available }} lugares disponibles</p>
            <button type="button" class="car-left" mat-flat-button (click)="carLeft()" [disabled]="parkingStatus.available === parkingStatus.total">
              Registrar SALIDA
              <mat-icon>directions_cark</mat-icon>
            </button>
          </div>
        }
      </form>
    }

    @if (memberNotFoundMessage) {
      <mat-card-header>
        <mat-card-title>{{ memberNotFoundMessage }}</mat-card-title>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button color="primary" (click)="acknowledge()">
          Aceptar
        </button>
      </mat-card-actions>
    }

    @if (member && !registerAccessResponse) {
      <mat-card-header>
        <mat-card-title>Hola {{ member.fullName }}!</mat-card-title>
        <mat-card-subtitle>DNI {{ member.dni }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button color="secondary" (click)="cancel()">
          Cancelar
        </button>

        <button mat-button color="primary" (click)="allow()" [disabled]="!member">
          <mat-icon>no_crash</mat-icon> Registrar ACCESO
        </button>
      </mat-card-actions>
    }

    @if (registerAccessResponse) {
      <mat-card-header>
        <mat-card-title>{{ registerAccessResponse.title }}</mat-card-title>
        <mat-card-subtitle>{{ registerAccessResponse.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button color="primary" (click)="acknowledge()">
          Aceptar
        </button>
      </mat-card-actions>
    }
  </mat-card>
</div>
