.container {
  display: flex;
  flex-direction: column;

  & > * {
    width: 100%;
  }

  .search-form {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    width: 100%;

    .search-input {
      flex: 1 1 0;
      max-width: 700px;
      width: 100%;
    }

    button[type="submit"] {
      white-space: nowrap;
    }
  }

  @media (max-width: 600px) {
    .search-form {
      flex-direction: column;

      .search-input {
        max-width: 100%;
      }

      button[type="submit"] {
        width: 100%;
      }
    }
  }

  .search-card {
    padding: 16px;
  }

  .available-spots {
    text-align: center;
  }

  .actions-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra horizontalmente */
    align-items: center; /* centra verticalmente si el contenedor tiene altura */
    height: 100px;
  }
}
